.pokemondetail-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: hsla(0, 0%, 0%, 0.4);
}

.pokemondetail-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    width: 400px;
    max-height: 600px;

    border-radius: 4px;
    background-color: var(--white);
    overflow-x: hidden;
    overflow-y: auto;
}

.pokemondetail-header {
    display: flex;
    justify-content: space-between;
}

.pokemondetail-header > :first-child {
    font-size: 1.6rem;
    font-weight: 600;
}

.pokemondetail-header > :last-child {
    width: fit-content;
    height: fit-content;

    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.pokemondetail-title {
    font-size: 1.2rem;
    font-weight: 600;
}