:root {
  --primary-color: hsl(210, 40%, 10%);
  --secundary-color: hsl(0, 0%, 60%);

  --blue: hsl(210, 60%, 60%);
  --blue-op: hsla(210, 60%, 60%, 0.3);

  --green: hsl(140, 70%, 40%);
  --green-op: hsla(140, 70%, 40%, 0.3);
  --red: hsl(0, 70%, 40%);
  --red-op: hsla(0, 70%, 40%, 0.3);
  --white: hsl(0, 0%, 90%);
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

html {
  height: 100vh;

  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
